.type_45 {
  margin: 30px auto;
  font-size: 14px;
}
@media (min-width: 786px) {
  .type_45 .col-md--6 {
    width: 50%;
    float: left;
  }
}
.type_45 .images {
  position: relative;
}
.type_45 .images img {
  margin-top: 30px;
  width: 100%;
}
