.type_16_content_0 .vc_row {
  padding-bottom: 9.8rem;
  padding-top: 9.8rem;
  margin: 0;
}
.type_16_content_0 .vc_column-inner {
  padding-top: 0;
}
.type_16_content_0 h1 {
  line-height: 1.2;
  margin: 2.8rem 0 1.4rem;
  position: relative;
  font-family: 'Domine';
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  font-size: 3.6rem;
  color: #363d40;
  margin-bottom: 6.2rem;
}
.type_16_content_0 h1 small {
  color: inherit;
  font-size: 50%;
  font-weight: normal;
  display: block;
  opacity: 0.8;
  line-height: 1.2;
}
.type_16_content_0 h1::after {
  content: '';
  display: block;
  position: absolute;
  width: 6rem;
  border-bottom: .3rem solid;
  margin-top: 1.2rem;
  margin-left: -3rem;
  left: 50%;
  border-bottom-color: #c0392b;
}
.type_16_content_0 p {
  margin: 2.8rem 0 1.4rem;
  font-family: 'Roboto';
  text-transform: none;
}
.type_16_content_0 .lead {
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 1.4;
  font-size: 125%;
  margin: 2.8rem 0;
}
.type_16_content_0 a {
  color: #363d40;
  text-decoration: none;
}
.type_16_content_0 a:hover {
  color: #667279;
}
.type_16_content_0 .btn {
  font-family: 'Roboto';
  font-size: 1.4rem;
  height: auto;
  transition: all 200ms ease-in;
  border-radius: 2px;
  outline: none !important;
  font-weight: bold;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}
.type_16_content_0 .btn.btn-inline {
  padding: 0.9rem 0;
  display: inline-block;
  white-space: normal;
  border: none;
  background: transparent;
}
